@model Movie

<h1>Are you sure you want to delete the movie @Model.Title ?</h1>

<a href="/MoviesPage/Details/@Model.MovieId">Cancel</a>

<form method="POST" action="/MoviesPage/Delete/@Model.MovieId">
    <input type="submit" value="Confirm Delete">
</form>